In [1]:
import numpy as np
import matplotlib.pyplot as plt 
from find_peak_slope import *
from simulate import *
from zacLib import awgn
%matplotlib Qt5

In [2]:
def demo(x,sp,width,slope_th):
    (sm,dsp,new_peak,new_pits,avg_frq,max_frq,
     dev_band,half_left,half_right,half_band) = find_peak_slope(sp,width,slope_th)
     
    plot_all(sp,sm,dsp,slope_th,new_peak,new_pits,avg_frq,
             max_frq,dev_band,half_left,half_right,1,origin=x)

In [10]:
# real data

find_peak_slope_from_rd('sig0.rd',150,20,1,0)
# find_peak_slope_from_rd('sig1.rd',300,30,1,0)
# find_peak_slope_from_rd('sig2.rd',40,10,1,0)
# find_peak_slope_from_rd('sig3.rd',300,30,1,0)
# find_peak_slope_from_rd('siga.rd',300,30,1,0)

    avg_frq  max_frq  slope band  half_band
0      7874     8041        1072       1024
1      9200     9471        1026       1002
2     11131    11169         395        391
3     11700    11813         388        403
4     12122    12129         155        143
5     12544    12545         162        152
6     13242    13383         563        535
7     14225    14187         542        532
8     14937    14937         156        134
9     15347    15352         150        122
10    16467    16781        1134       1166
11    17674    17730         306        290
12    18230    18226         274        274
13    18790    18764         294        297
14    19360    19419         299        278
15    21745    21612        2346       2215
16    24791    24505        2548       2315
17    28837    28697         549        554
18    29830    29756         573        559
19    31166    31537        1443       1432
20    32414    32469         269        265
21    32972    32977         147        110
22    33264    33264         150        111
23    33607    33614         155        144
24    34033    34034         161        154
25    34523    34600         393        410
26    35095    35005         382        386
27    37950    37817         888        863
28    39215    39522         901        848
29    39928    39931         152        142
30    40220    40210         112         89
31    40517    40497         127         93
32    40909    40911         153        142
33    42867    43515        2085       2021
34    45715    46090        2081       1983
35    49907    49528        1586       1560

In [4]:
# simulate data

# bell shape
# x,sp = bells(noise=0.3)
# demo(x,sp,200,20)

# square
# x,sp = squares(0.5)
# demo(x,sp,100,20)

#stair
# x,sp = stairs(0.5)
# demo(x,sp,200,30)

# random combination
# x,sp = random(noise=0.7)
# demo(x,sp,100,20)